<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>差值表达式</p>
    <p>{{ msg }}</p>
    <p>{{ count }}</p>
    <p>v-text</p>
    <p v-text="msg"></p>
    <p>v-model</p>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
  </div>
  <script src="./_vue.js"></script>

  <!-- <script src="./vue.js"></script>
  <script src="./observer.js"></script>
  <script src="./compiler.js"></script>
  <script src="./dep.js"></script>
  <script src="./watcher.js"></script> -->
  <script>
    const vm = new Vue({
      el: '#app',
      data:{
        msg: 'hello',
        count: 100,
        person: {
          name: 'byf'
        }
      }
    })
    // vm.$set(vm.person, 'foo', 1212)
    console.log(vm)
  </script>
</body>
</html>