<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{ msg }}</p>
    <p>{{ count }}</p>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
  </div>
  <script src="./vue.js"></script>
  <script src="./observer.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data:{
        msg: 'hello',
        count: 100,
        person: {
          name: 'byf'
        }
      }
    })
    vm.msg = {
      name:'111'
    }
    console.log(vm)
  </script>
</body>
</html>